<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ViternusEntities" connectionString="metadata=res://*/Viternus.csdl|res://*/Viternus.ssdl|res://*/Viternus.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Viternus;Integrated Security=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="Replace"/>
  </connectionStrings>

  <appSettings xdt:Transform="Replace">
    <add key="AccountName" value="devstoreaccount1"/>
    <add key="AccountSharedKey" value=""/>
    <add key="BlobStorageEndpoint" value="http://127.0.0.1:10000/"/>
    <add key="ProductionAzureEnv" value="false"/>
    <add key="FacebookAPIKey" value="Get This from facebook.com/developers"/>
    <add key="FacebookApplicationSecret" value="Get This from facebook.com/developers"/>
    <add key="ChargifyUrl" value="https://viternus.chargify.com/h/28/subscriptions/new"/>
  </appSettings>

  <system.web>
    <customErrors mode="RemoteOnly" xdt:Transform="Replace"/>
    <httpHandlers xdt:Transform="Replace">
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
      <add verb="GET,POST" path="SlickUpload.axd" type="Krystalware.SlickUpload.SlickUploadHandler, Krystalware.SlickUpload"/>
    </httpHandlers>
    <httpModules xdt:Transform="Replace">
      <add name="HttpUploadModule" type="Krystalware.SlickUpload.HttpUploadModule, Krystalware.SlickUpload"/>
    </httpModules>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" xdt:Transform="Replace">
    </modules>
    <handlers xdt:Transform="Replace">
      <remove name="MvcHttpHandler"/>
      <remove name="UrlRoutingHandler"/>
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
    </handlers>
  </system.webServer>
</configuration>